:root{
    --container-color:rgba(255, 255, 255, 0.8);
    --hide-left:-30%+2px;
}

#container{
    position: fixed;
    height: 100vh;
    top: 0;
    left: calc(-30% - 2px);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 30%;
    /* background-color: red; */
    background-color: var(--container-color);
    border: 2px solid black;
    
}

.pages{
    /* background-color: blue; */
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.page{
    margin: 20px 0;
    text-align: center;
    color: black;
}

.page:hover{
    color: green;
    transition: color .2s ease-in-out;
    cursor: pointer;
}

#burger{
    z-index: 2;
}

@keyframes move_to_right {
    0% {left: calc(-30% - 2px);}
    100% {left: 0;}
}

.burger:active .container{
    left: 0;
    transition: left .3s;
}