#container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    /* background-color: beige; */
    top: 0;
    left: 0;
    z-index: -1;
}

#big-div{
    width: 100vw;
    height: 100vh;
    /* left: 0;
    top: 0; */
    position: relative;
    color: red;
    /* background-color: blue; */
}

.icons{
    width: 100vw;
    height: 50px;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: absolute;
    bottom: 0;
    
}

.icon{
    margin: 0 20px;
}

.icon:hover{
    cursor: pointer;
}

