@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
    --burger-hover:rgb(190, 190, 190);
}


.burger{
    border-radius: 50%;
    padding: 5px;
    border: 1px solid black;
    
    position: fixed;
    top: 10px;
    left: 10px;

}

.burger:target{

}

.burger:hover{
    background-color: var(--burger-hover);
    cursor: pointer;
}

.line{
    width: 70%;
    height: 1px;
    background-color: white;
    margin: 10%;
}

#me{
    border-radius: 50%;
    border: 3px solid black;
    width: 100px;
    aspect-ratio: 1/1;

    
}



#picture-and-info{
    display: flex;
    margin: 8vw;
}

.info{
    margin-left: 30px;
    /* background-color: blue; */
    font-family: "Oswald", sans-serif;
}

#name{
    font-size: clamp(30px,5vw,100px);
}

#desc{
    font-size: 10px;
}


/* phone */
/* 480-768px */
@media screen and (min-width:480px) {
    #me{
        width: 300px;
        aspect-ratio: 1/1;

    }
    #picture-and-info{
        margin: 5vw;
    }
    #name{
        font-size: clamp(30px,10vw,100px);
    }   
    #desc{
        font-size: clamp(21px,4vw,70px);
    }

}