body,html,#root{
    height: 100%;
    margin: 0;
    padding-bottom: 50px;
    background-color: beige;
    /* width: 100vw; */
    /* overflow-x:s hidden; */
}

#root{
    display: flex;
    flex-direction: column;
}

html{
    background-color: beige;
    overflow-y: auto;
}

footer{
    height: 80px;
    flex-shrink: 0;
}

.app-content{
    overflow-y: auto;
    overflow-x: hidden;
}

/* ::-webkit-scrollbar{
    width: 5px;
    height: 3px;
}

::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background: rgb(173, 173, 155);
   
} */
